@import url(./header/header.css);
@import url(./halls/halls.css);
@import url(./reserved/reserved.css);
@import url(./about-us/about-us.css);
@import url(./reviews/reviews.css);
@import url(./faq/faq.css);
@import url(./contacts/contacts.css);
@import url(./normalize.css);
@import url(./global.style.css);

* {
  box-sizing: border-box;
}

.title-h2 {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

.body {
  font-family: Arial, sans-serif;
  /* width: 1440px; */
  background: #1B1A1B;
  color: #fff; 
  margin: 0;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

figure {
  margin: 0;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

