.header {
  padding-top: 95px;
  min-height: 940px;
  margin-bottom: 110px;
}

.header__title {
  font-size: 150px;
  text-transform: uppercase;
  letter-spacing: -0.1em;
  font-weight: 900;
  position: relative;
  z-index:-1;
  line-height: 100%;
  margin-bottom: 10px;
}

.header__title::after {
  content: "";
  position: absolute;
  background: url(../header/img/under-logo.png) no-repeat;
  width: 675px;
  height: 762px;
  top: 90px;
  right: 0;
  z-index: 0;
}

.header__text {
  font-size: 28px;
  font-weight: 400;
  padding-left: 100px;
}

