.footer {
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);  
}

.contacts {
  font-weight: 700;
  font-size: 24px;

}

.contacts__title {
  margin-bottom: 45px;
}

.link-contacts {
  text-decoration: none;
  color: #fff;
}

.map__text {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: #fff;
}

.map__img {
  vertical-align: middle;
  margin-right: 20px;
}

.wrapper-map {
  margin-bottom: 10px;
}

.link-tel__tel-text {
  display: inline-block;
  vertical-align: middle;
}

.link-tel__tel-img {
  vertical-align: middle;
  margin-right: 20px;
}

.wrapper-tel {
  margin-bottom: 10px;
}

.link-mail__mail-text {
  display: inline-block;
  vertical-align: middle;
}

.link-mail__mail-img {
  vertical-align: middle;
  margin-right: 20px;
}

.wrapper-mail {
  margin-bottom: 40px;
}

.network-list {
  padding: 0;
  margin: 0;
  margin-bottom: 45px;
}

.network-list__item {
  display: inline-block;
  margin-right: 20px;
}

.footer-wrapper1 {
  display: flex;
  justify-content: space-between;
}

.footer__img-map {
  max-width: 680px;
  max-height: 274px;
  margin-bottom: 155px;
}

.copyright {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.copyright__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: end;
}

.copyright__text_indent {
  line-height: 22px;
}
